@include media-lg {
    .main {
        width: 100wh;
        height: 100vh;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        margin: 125px 150px;
        .card_img {
            min-width: 50%;
            height: 454px;
            background: linear-gradient(hsla(277, 64%, 61%,0.4),hsla(277, 64%, 61%,0.4)),url("../images/image-header-desktop.jpg")center top no-repeat;
            background-size: cover;
            border: 0px;
        }
        .description {
            margin: 60px 50px 60px 70px;
            padding-right: 30px;
            &__heading {
                font-size: 2.3em;
                margin-bottom: 35px;
                text-align: left;
            }
            &__prgf {
                line-height: 1.7em;
                margin-bottom: 70px;
                margin-right: 60px;
                text-align: left;
            }
            &__stats {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                text-align: left;
                &__ex {
                    margin: 10px 45px 10px 0;
                    &__heading {
                        font-size: 1.6em;
                        text-align: left;
                        margin-bottom: 8px;
                    }
                    &__name {
                        line-height: 1em;
                        letter-spacing: 0.2px;
                        text-align: left;
                        font-weight: 400;
                        
                    }
                }
            }
        }
    
    }
}


